{% extends "base_accounts.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}
        <title></title>
    {% endblock %}

    {% block css_styles %}
    {% endblock %}

</head>
<body>

    {% block body_content %}

        <div class="login-header">
            Sign in
            Welcome
        </div>

        <div class="login-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="login-footer">

        </div>

    {% endblock %}

</body>
</html>